
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">USER_ID</th>
            <th scope="col">ID</th>
            <th scope="col">TITLE</th>
            <th scope="col">COMPLETED</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of list">
            <td>{{user.userId}}</td>
            <td>{{user.id}}</td>
            <td [class.checked]=" user.completed " >{{user.title}}</td>
            <!-- checkBoxValue is reference to input element -->
            <td class="text-center"><input type="checkbox" #checkBoxValue (click)="onClick(user,checkBoxValue)"  [checked]="user.completed"/></td>
          </tr>
        </tbody>
      </table>
</div>
